<launch>
  <arg name="map_file" default="$(find pimouse_navi)/map/room.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/> 
  <include file="$(find pimouse_navi)/launch/amcl_test2.launch"/>
  <include file="$(find pimouse_navi)/launch/move_base_test2.launch">
    <arg name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find raspimouse_gmapping)/rviz/remote_test.rviz" required="true" />

</launch>