<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find raspimouse_gmapping)/map/test_room2.yaml"/>
  <arg name="model" default="$(find pimouse_description)/robots/two_urg_mouse.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
  <include file='$(find pimouse_slam)/launch/motor_virtual_power.launch' />

    <!-- laserscan_multi_merger -->
  <include file='$(find ira_laser_tools)launch/laserscan_multi_merger.launch' >
    <arg name='destination_frame' value='base_link' />
  </include>
    <!-- rviz -->
  <include file='$(find pimouse_description)/launch/pimouse_rviz.launch' />
    <!-- map_server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/> 
    <!-- amcl -->
  <include file="$(find pimouse_navi)/launch/amcl_virtual.launch"/>
    <!-- move_base -->
  <include file="$(find pimouse_navi)/launch/move_base_virtual.launch"/>
</launch>